body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: 'Give You Glory', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    height: 500px;
    background-color: black;
    padding-top: 120px;
}

.brain {
    width: 30%;
}

.brain:hover {
    width: 31%;
}